# Functions

In [11]:
def say_hello():
    print('hello')
say_hello()

hello

In [4]:
def say_hello(name):
    print('Hello {}'.format(name))

In [5]:
say_hello('Josh')

Hello Josh

In [6]:
#we can also write above code in similar manner
def say_hello(name = 'josh'):
    print('Hello {}'.format(name))
say_hello()

Hello josh

In [12]:
def add_num(num1,num2):
    return num1 + num2

In [13]:
result = add_num(10,20)
result

30

In [ ]:
#Difference between Print and Return

In [15]:
def print_result(a,b):
    print(a+b)

In [20]:
def return_result(a,b):
    return a+b

In [16]:
print_result(10,20)  #It just printing out the result

30

In [23]:
result = return_result(10,20) #It save the result to some result variable
result

30

In [87]:
def myfunc(a,b):
    
    #Return 5% of the sum of a and b
    return sum((a,b)) * 0.05

myfunc(40,60)

5.0

In [90]:
def myfunc(a,b,c = 0,d = 0,e = 0): #If we want to see the ouptput of only two or three elements instead of all elements than we have to mention them as zero.
    
    #Return 5% of the sum of a and b
    return sum((a,b,c,d,e)) * 0.05

myfunc(40,60,100)

10.0

In [91]:
myfunc(10,20,40,30)

5.0

*Args

In [92]:
def myfunc(*args):   #By default Python is going to do is it's going to take all the parameters that are passed in and set them to be inside a tuple.So we are going to pass let's say 40,60,100 and we get back 10
    return sum(args) * 0.05

In [93]:
myfunc(40,60,100)

10.0

In [102]:
def funny(*args):   #It gives us result in form of tuple. #args is argument
    print(args)
    
funny(40,60,10,20,30)

(40, 60, 10, 20, 30)

**Kwargs

In [111]:
def myfunc(**kwargs): #It gives us output in form of Dictionary.
    print(kwargs)

In [112]:
myfunc(fruit = 'apple', veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}

In [113]:
def myfunc(**kwargs): 
    if'fruit' in kwargs:
        print('My Fruit of Choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [114]:
myfunc(fruit = 'apple', veggie = 'lettuce')

My Fruit of Choice is apple

In [115]:
def myfunc(**kwargs):
    print(kwargs)
    if'fruit' in kwargs:
        print('My Fruit of Choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [116]:
myfunc(fruit = 'apple', veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My Fruit of Choice is apple

In [ ]:
#Function with Logic

In [4]:
def even_check(number):
    return number % 2 == 0

even_check(20)

True

In [ ]:
#Retrun True if any number is Even inside the list

In [31]:
def check_even_list(num_list):
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            pass

In [32]:
check_even_list([1,3,5]) #All Odds numbers,nothing is returned

In [16]:
check_even_list([2,3,5])  #To Even numbers in it, it returns back true.

True

In [37]:
def check_even_list(num_list):
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            pass
     
    return False

In [25]:
check_even_list([2,5,6])

True

In [38]:
check_even_list([1,3,5])

False

In [40]:
def check_even_list(num_list):
    #Return all the even numbers in a list
    
    #Placeholder variables
    even_numbers = []
    for number in num_list:
        if number % 2 == 0:
            even_numbers.append(number)
        else:
            pass
     
    return even_numbers

In [43]:
check_even_list([1,2,5,6,8,9])

[2, 6, 8]

# Functions and Tuple Unpacking

In [44]:
Stock_prices = [('Apple',200),('Google',400),('MSFT',100)]

In [45]:
for ticker,price in Stock_prices:
    print(price+(0.1*price))

220.0
440.0
110.0

In [46]:
work_hours = [('Abby',100),('Billy',400),('Cassie',800)]

In [60]:
def employee_check(work_hours):  #we will find out who worked the max hours because no one will start beating this equation right here of our greater than the current max
    
    current_max = 0
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
        
    return(employee_of_month,current_max)

In [61]:
employee_check(work_hours)

('Cassie', 800)

In [67]:
#Tuple Unpacking
name,hours = employee_check(work_hours)

In [65]:
name

'Cassie'

In [66]:
hours

800

# Interactions between python functions

In [68]:
example = [1,2,3,4,5,6,7]

In [69]:
from random import shuffle

In [70]:
shuffle(example)

In [71]:
example

[3, 6, 2, 4, 1, 5, 7]

In [76]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [73]:
result = shuffle_list(example)

In [74]:
result

[7, 1, 6, 2, 4, 3, 5]

In [84]:
mylist = [' ','O',' ']
shuffle_list(mylist)

['O', ' ', ' ']

In [85]:
def player_guess():
    guess = ''
    while guess not in ['0','1','2']:
        guess = input("Pick a number: 0,1, or 2")
        return int (guess)

In [86]:
player_guess()

Pick a number: 0,1, or 21

1

# MAP

In [142]:
def square(num):
    return num*2

In [143]:
my_nums = [1,2,3,4,5]

In [123]:
for item in map(square,my_nums):   #Map applied this function to every element(Square) in that list filter(my_nums)
    print(item)

2
4
6
8
10

In [124]:
list(map(square,my_nums))

[2, 4, 6, 8, 10]

In [125]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'Even'
    else:
        return mystring[0]

In [126]:
names = ['Andy','Eve','Sally']

In [127]:
list(map(splicer,names))

['Even', 'E', 'S']

In [ ]:
#Filter Function

In [128]:
def check_even(num):  #Going to filter based off this function's condition.
    return num%2 == 0

In [129]:
mynums = [1,2,3,4,5,6]

In [130]:
list(filter(check_even,mynums))

[2, 4, 6]

In [131]:
for n in filter(check_even,mynums):
    print(n)

2
4
6

In [ ]:
#Lambda Function

In [133]:
def square(num):
    result = num*2
    return result
square(3)

6

In [ ]:
#We can write above code in same manner by using lambda

In [134]:
square = lambda num : num *2
square(3)

6

In [ ]:
#we can use map and filter with lambda

In [147]:
mynums = [1,2,3,4,5,6]
list(map(lambda num: num**2 , mynums))

[1, 4, 9, 16, 25, 36]

In [144]:
list(filter(lambda num : num%2 == 0, mynums))

[2, 4, 6]

In [ ]:
names = ['Andy','Eve','Sally']

In [146]:
list(map(lambda x: x[0], names))

['A', 'E', 'S']

# Nested Statements and Scope

In [168]:
#GLOBAL
name = 'This is a global string'

def great():        #Hello() executes first which is called local.
    name = 'Sammy'
    
    #LOCAL
    def hello():    #This is function under function and should be written with correct indentation.hello() should write under def hello function.
        print('Hello '+name)
    hello()
    
great()

Hello Sammy

In [169]:
#GLOBAL
name = 'This is a global string'

def great():
    
    #ENCLOSING
    name = 'Sammy'
    
    def hello():
        #LOCAL
        name = 'I am a local'
        print('Hello '+name)
    
    hello()   
    
great()

Hello I am a local

In [170]:
#If we make name = 'I am a local' in comment form than it will look in the next level which is name = 'Sammy'. If we again make name = 'Sammy' in comment form than it will look in the global namespace level.

#GLOBAL
name = 'This is a global string'

def great():
    
    #ENCLOSING
    name = 'Sammy'
    
    def hello():
        #LOCAL
        #name = 'I am a local'
        print('Hello '+name)
    
    hello()   
    
great()

Hello Sammy